/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* Web=Fonts: Nanum Gothic Coding*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&display=swap');

@font-face {
    font-family: 'SpoqaHanSansNeo-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 { 
    color : Black;
    font-family: 'SpoqaHanSansNeo-Bold';
    text-align: center;
    position: absolute;
    top: 338px;
    left: 300px;
    font-size: 4.5rem;
}

.type { 
    color : black;
    font-family: 'SpoqaHanSansNeo-Bold';
    text-align: center;
    position: absolute;
    top: 550px;
    left: 335px;
    font-size: 2rem;
}


.description {
    color: #1864ab;
    font-family: 'SpoqaHanSansNeo-Bold';
    text-align: center; 
    position: absolute;
    display: inline-block; 
    top: 485px;
    left: 380px;
    font-size: 3rem;
}

.work{
    color: #1c7ed6;
    font-family: 'SpoqaHanSansNeo-Regular';
    text-align: center; 
    position: absolute; 
    top: 540px;
    left: 230px;
    font-size: 2rem;
}

.phone {
    color: black;
    font-family: 'SpoqaHanSansNeo-Bold';
    text-align: center; 
    position: absolute; 
    top: 610px;
    left: 400px;
    font-size: 2rem;
}

@media (max-width: 480px) {

h1 {
    font-size: 25px;
    top: 30vh;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    left: 0px;
}

.type {
    font-size: 18px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    left: 0px;
    top: 38.5vh;
}
.description {
    font-size: 20px;
    width: 100%;
    top: 35.5vh;
    left: 0px;
}

.phone {
    font-size: 18px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    top: 42.5vh; 
    left: 0px;
}

}

